<p>Las muertes se producen por diversas causas pero en general reflejan fallas en el acceso de las mujeres al sistema de salud y al control durante el embarazo, deficiencias en la atención del parto y complicaciones causadas por el aborto inseguro. En el mapa se puede ver la incidencia de las distintas causas en cada provincia del país.</p>
<p>Las muertes maternas por causas obstétricas indirectas son mujeres que fallecieron por una enfermedad que se agravó como consecuencia del embarazo, parto o puerperio. </p>
<h4>Descripción de las causas de muerte indirectas *</h4>
<small>* Información extraída de la Dirección de Estadística e Información de Salud, Ministerio de Salud de la República Argentina</small>

<h4>Enfermedad por virus de la inmunodeficiencia humana</h4>
<ul>
  <li>B20 Enfermedad por Virus de la Inmunodeficiencia Humana (VIH), resultante en enfermedades infecciosas y parasitarias</li>
  <li>B21 Enfermedad por Virus de la Inmunodeficiencia Humana (VIH), resultante en tumores malignos</li>
  <li>B22 Enfermedad por Virus de la Inmunodeficiencia Humana (VIH), resultante en otras enfermedades especificadas</li>
  <li>B23 Enfermedad por Virus de la Inmunodeficiencia Humana (VIH), resultante en otras afecciones</li>
  <li>B24 Enfermedad por Virus de la Inmunodeficiencia Humana (VIH), sin otra especificación</li>
</ul>
<h4>Otras causas indirectas</h4>
<ul>
  <li>O98 Enfermedades maternas infecciosas y parasitarias clasificables en otra parte, pero que complican el embarazo, el parto y el puerperio</li>
  <li>O99 Otras enfermedades maternas clasificables en otra parte, pero que complican el embarazo, el parto y el puerperio</li>
</ul>