<p>Las muertes se producen por diversas causas pero en general reflejan fallas en el acceso de las mujeres al sistema de salud y al control durante el embarazo, deficiencias en la atención del parto y complicaciones causadas por el aborto inseguro. En el mapa se puede ver la incidencia de las distintas causas en cada provincia del país.</p>
<p>Las causas de muertes directas son aquellas que ocurren en mujeres sanas que tuvieron complicaciones directamente desencadenadas por el embarazo, parto o puerperio </p>

<h4>Descripción de todas las causas de muerte de este grupo*</h4>
<small>* Información extraída de la Dirección de Estadística e Información de Salud, Ministerio de Salud de la República Argentina</small>

<h4>Embarazo terminado en aborto</h4>
<ul>
  <li>O00 Embarazo ectópico</li>
  <li>O01 Mola Hidatidiforme</li>
  <li>O02 Otros productos anormales de la concepción</li>
  <li>O03 Aborto espontáneo</li>
  <li>O04 Aborto médico</li>
  <li>O05 Otro aborto</li>
  <li>O06 Aborto no especificado</li>
  <li>O07 Intento fallido de aborto</li>
  <li>O08 Complicaciones consecutivas al aborto, al embarazo ectópico y al embarazo molar</li>
</ul>

<h4>Trastornos hipertensivos</h4>
<ul>
  <li>O10 Hipertensión preexistente que complica el embarazo, el parto y el puerperio</li>
  <li>O11 Trastornos hipertensivos preexistentes, con proteinuria agregada</li>
  <li>O12 Edema y proteinuria gestacionales (inducidos por el embarazo) sin hipertensión</li>
  <li>O13 Hipertensión gestacional (inducida por el embarazo) sin proteinuria significativa</li>
  <li>O14 Hipertension gestacional (inducida por el embarazo) con proteinuria significativa</li>
  <li>O15 Eclampsia</li>
  <li>O16 Hipertensión materna, no especificada</li>
</ul>
<h4>Trastornos de placenta y hemorragias preparto</h4>
<ul>
  <li>O44 Placenta previa</li>
  <li>O45 Desprendimiento prematuro de la placenta (Abruptio Placentae)</li>
  <li>O46 Hemorragia anteparto, no clasificada en otra parte</li>
</ul>
<h4>Hemorragia posparto</h4>
<ul>
  <li>O72 Hemorragia postparto</li>
</ul>
<h4>Sepsis</h4>
<ul>
  <li>O85 Sepsis puerperal</li>
  <li>O86 Otras infecciones puerperales</li>
  <li>O87 Complicaciones venosas en el puerperio</li>
  <li>O88 Embolia obstétrica</li>
  <li>O89 Complicaciones de la anestesia administrada durante el puerperio</li>
  <li>O90 Complicaciones del puerperio, no clasificadas en otra parte</li>
  <li>O91 Infecciones de la mama asociadas con el parto</li>
  <li>O92 Otros trastornos de la mama y de la lactancia asociados con el parto</li>
</ul>
<h4>Otras causas directas</h4>
<ul>
  <li>O20 Hemorragia precoz del embarazo</li>
  <li>O21 Vómitos excesivos en el embarazo</li>
  <li>O22 Complicaciones venosas en el embarazo</li>
  <li>O23 Infección de las vías genitourinarias en el embarazo</li>
  <li>O24 Diabetes Mellitus en el embarazo</li>
  <li>O25 Desnutrición en el embarazo</li>
  <li>O26 Atención a la madre por otras complicaciones principalmente relacionadas con el embarazo</li>
  <li>O28 Hallazgos anormales en el examen prenatal de la madre</li>
  <li>O29 Complicaciones de la anestesia administrada durante el embarazo</li>
  <li>O30 embarazo múltiple</li>
  <li>O31 Complicaciones específicas del embarazo múltiple</li>
  <li>O32 Atención materna por presentación anormal del feto, conocida o presunta</li>
  <li>O33 Atención materna por desproporción conocida o presunta</li>
  <li>O34 Atención materna por anormalidades conocidas o presuntas de los órganos pelvianos de la madre</li>
  <li>O35 Atención materna por anormalidad o lesión fetal, conocida o presunta</li>
  <li>O36 Atención materna por otros problemas fetales conocidos o presuntos</li>
  <li>O40 Polihidramnios</li>
  <li>O41 Otros trastornos del Líquido amniótico y de las membranas</li>
  <li>O42 Ruptura prematura de las membranas</li>
  <li>O43 Trastornos placentarios</li>
  <li>O47 Falso trabajo de parto</li>
  <li>O48 Embarazo prolongado</li>
  <li>O60 Parto prematuro</li>
  <li>O61 Fracaso de la inducción del trabajo de parto</li>
  <li>O62 Anormalidades de la dinámica del trabajo de parto</li>
  <li>O63 Trabajo de parto prolongado</li>
  <li>O64 Trabajo de parto obstruido debido a mala posición y presentación anormal del feto</li>
  <li>O65 Trabajo de parto obstruido debido a anormalidad de la pelvis materna</li>
  <li>O66 Otras obstrucciones del trabajo de parto</li>
  <li>O67 Trabajo de parto y parto complicados por hemorragia intraparto, no clasificados en otra parte</li>
  <li>O68 Trabajo de parto y parto complicados por sufrimiento fetal</li>
  <li>O69 Trabajo de parto y parto complicados por problemas del cordón umbilical</li>
  <li>O70 Desgarro perineal durante el parto</li>
  <li>O71 Otro trauma obstétrico</li>
  <li>O73 Retención de la placenta o de las membranas, sin hemorragia</li>
  <li>O74 Complicaciones de la anestesia administrada durante el trabajo de parto y el parto</li>
  <li>O75 Otras complicaciones del trabajo de parto y del parto, no clasificadas en otra parte</li>
  <li>O95 Muerte obstétrica de causa no especificada</li>
  <li>O97 Muerte por secuelas de causas obstétricas directas</li>
</ul>
