{% extends 'base.html.twig' %}
{% set active = 'nosotros' %}

{% block title %}Nosotros{% endblock %}

{% block content %}
<div class="page-header">
    <h2>Nuestro equipo de trabajo<small></small></h2>
</div>

<p><b>Las mujeres cuentan</b> es un proyecto que nació de la alianza entre GarageLab, laboratorio de problemas emergentes, y el CEDES, reconocido centro de investigación social que con más de 30 años de trayectoria académica y continuidad institucional lleva adelante actividades académicas guiadas por una constante atención a la calidad y al rigor científico. Su capítulo de Salud, economía y sociedad realiza actividades de investigación, capacitación/difusión y consultoría y asistencia técnica con una línea de investigación específicamente dedicada a Salud y Mujer; es de destacar el rol del CEDES en la iniciativa de crear el Observatorio de Salud Sexual y Reproductiva.</p>
<p>GarageLab nació en 2009 con el objetivo de fortalecer el ecosistema de innovación local. Su metodología se basa en el abordaje de problemas emergentes, de alto impacto, a través de la conformación de equipos multidisciplinarios. Lleva realizados ya cinco proyectos con organizaciones de la sociedad civil (Gasto Público Bahiense, Dinero y Política, Media Sanción, DatosPublicos.org, y Qué Pasa Riachuelo). Está formado por 22 miembros provenientes de distintas disciplinas, todos interesados en las intersección de los problemas, las herramientas de pensamiento, y el conocimiento práctico.</p>
<p>La sinergia resultante de la colaboración entre ambas organizaciones fue el origen de este emprendimiento social con una experticia en el dominio específico del problema y la capacidad de abordarlo y concretarlo en esta plataforma de monitoreo de la muerte materna en Argentina. </p>

<!-- div class="row-fluid">

</div -->

{% endblock %}