{% extends 'base.html.twig' %}
{% set active = 'nosotros' %}

{% block title %}Nosotros{% endblock %}

{% block content %}
<div class="page-header">
    <h3>nuestro equipo de trabajo<small></small></h3>
</div>

<p><b class="brand">las mujeres cuentan</b> es un proyecto que nació de la alianza entre <b><a href="http://garagelab.cc" target="_blank">GarageLab</a></b>, laboratorio de problemas emergentes y el <b><a href="http://www.ossyr.org.ar/" target="_blank">Observatorio de Salud Sexual y Reproductiva de la Argentina (OSSYR)</a></b>, un centro de recursos de información y análisis sobre la situación de la salud materna y reproductiva en la Argentina. Fundado en 2010, el Observatorio es una iniciativa del <b><a href="http://www.cedes.org" target="_blank">CEDES</a></b> y <b><a href="http://www.crep.org.ar" target="_blank">CREP</a></b>. Su principal objetivo es generar conocimiento e información para la toma de decisiones desde una perspectiva de derechos humanos, equidad social y de género.
<p><b><a href="http://garagelab.cc" target="_blank">GarageLab</a></b> nació en 2009 con el objetivo de fortalecer el ecosistema de innovación local. Su metodología se basa en el abordaje de problemas emergentes, de alto impacto, a través de la conformación de equipos multidisciplinarios. Lleva realizados ya cinco proyectos con organizaciones de la sociedad civil (Gasto Público Bahiense, Dinero y Política, Media Sanción, DatosPublicos.org, y Qué Pasa Riachuelo). Está formado por 22 miembros provenientes de distintas disciplinas, todos interesados en las intersección de los problemas, las herramientas de pensamiento, y el conocimiento práctico.
<p>La sinergia resultante de la colaboración entre ambas organizaciones fue el origen de este emprendimiento social con una experticia en el dominio específico del problema y la capacidad de abordarlo y concretarlo en esta plataforma de monitoreo de la muerte materna en Argentina.

{% endblock %}